<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        button: 1px solid #000, width 30px, height 20px;
    </style>
    <script>
        function login(provider){
            let url;
            if(provider == 'KaKao') {
                url = '/oauth2/authorization/kakao';
            } else if(provider == 'Google') {
                url = '/oauth2/authorization/google';
            } else if(provider == 'Naver') {
                url = '/oauth2/authorization/naver';
            }
            console.log(url);
            <!--location.href = url;-->
            const form = document.createElement('form');
            form.setAttribute('method', 'post');
            form.setAttribute('action', url);
            document.body.appendChild(form);
            form.submit();
        }
        function sendHeaderData() {
            let request = new XMLHttpRequest();
            request.open('GET','/');
            request.setRequestHeader("content-type", "application/json");
            request.setRequestHeader("Authorization", "BearereyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJhbm9ueW1vdXNVc2VyIiwiYXV0aCI6IlJPTEVfQU5PTllNT1VTIiwiZXhwIjoxNzA0NDE2ODA1fQ.BRvetgWCnZQHep7nAW0i8-jRNnTf0SJpSegCQGAOUlyH9H3eUO8tCHMLvxgg9pBRAjMhCamZYUN97LWFIxzVNw");
            request.setRequestHeader("Authorization-refresh", "BearereyJhbGciOiJIUzUxMiJ9.eyJleHAiOjE3MDUwMTk4MDV9.RMhohFh9GM7mFwSjlTP3PykDJzEl7CY_apXTIao4R12btqsPquMbyYLw3PIzGGACD23_ZDeE6yXd1EYNwYDy3g");
            request.setRequestHeader('User', "kakao_2568069828")
            request.send();
        }
    </script>
</head>
<body>
<button onclick="login('KaKao');">Kakao Login</button>
<button onclick="login('Google');">Google Login</button>
<button onclick="login('Naver');">Naver Login</button><br><br>
<a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=34c757199de774ac66043a9ce8baef95&scope=profile_nickname%20account_email&state=0EgMKhYwV1KDpwrPOPhgPWDTCI4IwBKe0Xlgf0ETQXg%3D&redirect_uri=http://localhost:8080/auth/kakao/callback">kakao</a>
<button onclick="sendHeaderData();">테스트</button>
</body>
</html>